<div>
    <div class="wrapper row">
        <div id="task_wrapper" class="col-md-3 col-xs-12">
            <form name="roomForm" ng-submit="addRoom()" id="formRoom" class="navbar-link">
                <label for="nameInput">Add A new room:</label>
                <input ng-model="newRoomText" class="input-field text-field" required/><br>
                <label for="nameInput">Add Username:</label>
                <input ng-model="newUsernameText" class="input-field text-field" required/><br>
                <button type="submit" class="btn ghost">Create Room</button>
            </form>
        </div>
        <div class="task_wrapper col-md-9 col-xs-12">
        </div>
    </div>
</div>